* {
  margin: 0;
  padding: 0;
}

.img {
  width: 200px;
  margin: 5px;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
}

.Portfolio {
  width: 700px;
  margin: 0 auto;
}

.toolbar {
  display: flex;
  margin: 5px;
}

.toolbar-btn {
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #000000;
}

.toolbar-btn-active {
  background-color: #000000;
  color: #ffffff;
}